@model Domain.Model.Jogo

@{
    ViewData["Title"] = "Jogo - Alterar";
}

<h3>Cadastro de Jogo - Alterar</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtora" class="control-label"></label>
                <input asp-for="Produtora" class="form-control" />
                <span asp-validation-for="Produtora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeCompra" class="control-label"></label>
                <input asp-for="DataDeCompra" class="form-control" />
                <span asp-validation-for="DataDeCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-default">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
