@model Domain.Model.Emprestimo

@{
    ViewData["Title"] = "Empréstimo";
}

<h3>Registrar novo empréstimo</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Jogo" class="control-label"></label>
                <select asp-for="JogoId" class="form-control" asp-items="ViewBag.JogoId">
                    <option value="">-- Selecionar Jogo --</option>
                </select>
                <span asp-validation-for="JogoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amigo" class="control-label"></label>
                <select asp-for="AmigoId" class="form-control" asp-items="ViewBag.AmigoId">
                    <option value="">-- Selecionar Amigo --</option>
                </select>
                <span asp-validation-for="AmigoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEmprestimo" class="control-label"></label>
                <input asp-for="DataEmprestimo" class="form-control" />
                <span asp-validation-for="DataEmprestimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDevolucao" class="control-label"></label>
                <input asp-for="DataDevolucao" class="form-control" />
                <span asp-validation-for="DataDevolucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-default">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
