@model Domain.Model.Emprestimo

@{
    ViewData["Title"] = "Empréstimo - Devolver";
}

<h2>Empréstimo - Devolver</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Devolver">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="JogoId" />
                <label asp-for="Jogo" class="control-label"></label>
                <input asp-for="Jogo.Nome" class="form-control" disabled />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="AmigoId" />
                <label asp-for="Amigo" class="control-label"></label>
                <input asp-for="Amigo.Nome" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="DataEmprestimo" class="control-label"></label>
                <input asp-for="DataEmprestimo" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="DataDevolucao" class="control-label"></label>
                <input asp-for="DataDevolucao" class="form-control" />
                <span asp-validation-for="DataDevolucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Devolver" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-default">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
